<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link th:href="@{/style/node_modules/layui/dist/css/layui.css}" rel="stylesheet">
    <script th:src="@{/style/node_modules/layui/dist/layui.js}" ></script>
    <script th:src="@{/style/node_modules/jquery/dist/jquery.js}"></script>
</head>
<body style="padding: 20px">
<form class="layui-form" id="myform">
<!--    id-->
    <input name="id" type="hidden" th:value="${markers.id}">
<!--    景点名称-->
    <div class="layui-form-item">
        <label class="layui-form-label">景点名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" th:value="${markers.title}" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--    景点地址-->
    <div class="layui-form-item">
        <label class="layui-form-label">景点地址</label>
        <div class="layui-input-block">
            <input type="text" name="address" th:value="${scene.address}" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <!--    景点内容-->
    <div class="layui-form-item">
        <label class="layui-form-label">景点内容</label>
        <div class="layui-input-block">
            <input type="text" name="content" th:value="${scene.content}" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <!--    景点范围-->
    <div class="layui-form-item">
        <label class="layui-form-label">景点范围(米)</label>
        <div class="layui-input-block">
            <input type="text" name="radius" lay-verify="required" th:value="${scene.radius}" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <!--    景点中心点-->
    <div  class="layui-row" style="text-align: center;margin-bottom: 2%">
        <button id="location" type="button" class="layui-btn">
            选择中心点
        </button>

    </div>

    <!--    音频-->
    <div  class="layui-row"  style="text-align: center;margin-bottom: 2%">
        <button type="button" class="layui-btn demo-class-accept " lay-options="{accept: 'audio'}">
            <i class="layui-icon layui-icon-upload"></i>
            上传音频
        </button>
    </div>
<!--    上传图片-->
    <div style="text-align: center">
        <button type="button" class="layui-btn" id="ID-upload-demo-btn">
            <i class="layui-icon layui-icon-upload"></i> 图片上传
        </button>
        <div style="width: 132px;margin: auto">
            <div class="layui-upload-list">
                <img th:src="|${markers.iconPath}|" class="layui-upload-img" id="ID-upload-demo-img" style="width: 100%; height: 92px;">
                <div id="ID-upload-demo-text"></div>
            </div>
            <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="filter-demo">
                <div class="layui-progress-bar" lay-percent=""></div>
            </div>
        </div>
    </div>

    <hr style="margin: 21px 0;">
<!--    底部按钮-->
    <div style="text-align: center;">
        <button lay-submit lay-filter="confirm" class="layui-btn layui-col-md6" style="margin-right: 15%">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>

    </div>
</form>
    <script>
        var audio;
        var imgPath;
        var Location;
        var latitude;
        var longitude;
        layui.use(['upload','layer','element','form'],function(){
            var upload = layui.upload;
            var layer = layui.layer;
            var element = layui.element;
            var form =layui.form;
            var $ = layui.$;

            // 单图片上传
            var uploadInst = upload.render({
                elem: '#ID-upload-demo-btn',
                url: '/upload/img', // 此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
                before: function(obj){
                    // 预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#ID-upload-demo-img').attr('src', result); // 图片链接（base64）
                    });

                    element.progress('filter-demo', '0%'); // 进度条复位
                    layer.msg('上传中', {icon: 16, time: 0});
                },
                done: function(res){
                    // 若上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    // 上传成功的一些操作
                    imgPath=res.data;
                    // …
                    $('#ID-upload-demo-text').html(''); // 置空上传失败的状态
                },
                error: function(){
                    // 演示失败状态，并实现重传
                    var demoText = $('#ID-upload-demo-text');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                },
                // 进度条
                progress: function(n, elem, e){
                    element.progress('filter-demo', n + '%'); // 可配合 layui 进度条元素使用
                    if(n == 100){
                        layer.msg('上传完毕', {icon: 1});
                    }
                }
            });
            //单图片上传结束

            //上传音频
            upload.render({
                elem: '.demo-class-accept', // 绑定多个元素
                url: '/upload/audio', // 此处配置你自己的上传接口即可
                accept: 'audio', // 音频
                done:function (res){
                    audio=res.data;
                    layer.msg('上传成功');
                    console.log(res);
                    console.log("done:"+res.data);
                }

            });
            //上传音频结束

            //选择位置
            $('#location').click(function (){
                layer.open({
                    type:2,
                    content: 'https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp',
                    area:['500px','500px'],
                    btn:['确定'],
                    yes:function (index){
                        if (Location===undefined){
                            layer.open({
                                type:0,
                                title:'提示',
                                area:'auto',
                                content:'请点击下方地点！',
                            })
                        }else{
                            console.log(Location);
                            var element = document.getElementById("location");
                            element.innerHTML = "已选择中心点";
                            element.style.color = "red";
                            layer.close(index);
                        }
                    },
                })
            });

            //选择位置结束



            //form表单提交
            form.on('submit(confirm)',function (data){
                console.log("进入表单提交");
                var field=data.field;
                $.ajax({
                    type:'POST',
                    url:'/markers/submit',
                    data:{
                        id:field.id,
                        title:field.title,
                        address:field.address,
                        content:field.content,
                        radius:field.radius,
                        audio:audio,
                        imgPath: imgPath,
                        latitude:latitude,
                        longitude:longitude,
                    },
                    dataType:'json',
                    success:function (res){
                        // parent.layer.close(loadingIndex);
                        var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                        parent.layer.iframeAuto(index);
                        parent.layer.close(index);
                        parent.$('#search-input').click();
                        // console.log("关闭");
                    },
                    error:function (res){
                        // parent.layer.close(loadingIndex);
                        var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                        parent.layer.iframeAuto(index);
                        parent.layer.close(index);
                        layer.msg("发生错误："+res);
                        console.log("发生错误！"+res);
                    },
                    done:function (){
                        console.log("关闭");
                    }
                })
            });
            //form表单提交结束


        });
        window.addEventListener('message', function(event) {
            // 接收位置信息，用户选择确认位置点后选点组件会触发该事件，回传用户的位置信息
            Location = event.data;
            latitude=Location.latlng.lat;
            longitude=Location.latlng.lng;
            if (Location && Location.module == 'locationPicker') {//防止其他应用也会向该页面post信息，需判断module是否为'locationPicker'
                console.log('location', Location);
                console.log("lat:"+Location.latlng.lat);
            }
        }, false);

    </script>


</form>


</body>
</html>