<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
  <link th:href="@{/style/node_modules/layui/dist/css/layui.css}" rel="stylesheet">
  <script th:src="@{/style/node_modules/layui/dist/layui.js}" ></script>
  <script th:src="@{/style/node_modules/jquery/dist/jquery.js}"></script>

</head>
<body>
<form  class="layui-form  layui-col-space16">
  <div class="layui-col-md4">
    <div class="layui-input-wrap">
      <div class="layui-input-prefix">
        <i class="layui-icon layui-icon-search"></i>
      </div>
      <input type="text" id="title" value="" placeholder="景点名称" class="layui-input" lay-affix="clear">
    </div>
  </div>

  <div class="layui-btn-container layui-col-md8">
    <button id="search-input" class="layui-btn"  lay-submit lay-filter="demo-table-search">查询</button>
    <button type="reset" class="layui-btn layui-btn-primary">清空搜索框</button>
<!--    <button id="create" class="layui-btn">新增</button>-->
    <button id="create" type="button" class="layui-btn" >新增</button>
  </div>
</form>
<table class="layui-hide" id="ID-table-demo-search">


</table>
<script type="text/html" id="barTable">

  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>

<script th:inline="none">
    layui.use(['table', 'form', 'layer'],function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form
        var table = layui.table;
        // 创建表格实例
        table.render({
          elem:'#ID-table-demo-search'
          ,url: '/markers/getAll'
          ,defaultToolbar:['filter','exports','print',{
            title:'提示',
            layEvent:'LAYTABLE_TIPS',
            icon:'layui-icon-tips'
          }]
          ,cols:[[
            {checkbox:true,fixed:true},
            {field:'id',title:'ID',width:100},
            {field:'title',title:'景点名称',width:300},
            {field:'iconPath',title:'景点图片',width:300},
            {fixed:'right',title:'操作',toolbar:'#barTable',width: 120 }
          ]],
          page: false,
          limit:20,
          limits:[20,40,60],
          id:'ID-table-demo-search'
        });

      window.closeIframe = function() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      };
        //搜索
        $('#search-input').click(function (){
            var title=$('#title').val();

            var index = layer.msg('查询中，请稍后...', {
              icon: 16,
              time: false,
              shade: 0
            })
            setTimeout(function (){
                table.reload('ID-table-demo-search',{
                  url:'/markers/search',
                  method:'get',
                  where:{
                    title:title,
                  },

                })
              layer.close(index)
            })
          return false;
        });//搜索结束

      //监听table
      table.on('tool(ID-table-demo-search)',function (obj){
          var data=obj.data;
          console.log(data);
          if(obj.event ==='edit'){
              console.log("进入编辑")
              var id = data.id; // 获取选中行的 id
              console.log(id);
              layer.open({
                  type: 2,
                  area: ['60%','80%'],
                  shadeClose: false,
                  scrollbar: true,
                  maxmin:true,
                  resize:true,
                  fixed:true,
                  anim:'up',
                  title: '编辑',
                  content: '/markers/form?id=' + id,
              })
          }else if(obj.event==='del'){
              var id=data.id;
              console.log("进入删除，id="+id);
              layer.open({
                  type:0,
                  area:'auto',
                  resize:true,
                  shadeClose:true,
                  title:'提示',
                  content:'确认是否删除',
                  btn:['确认','取消'],
                  yes:function (index){
                      console.log("点击了确认");
                      $.post('/markers/del',{id:id},function (res){
                        console.log("删除成功！res="+res);
                      },'json');
                      $('#search-input').click();
                      layer.close(index);
                  },
                  cancel:function (index){
                    console.log("用户点击了取消");
                    layer.close(index);
                  }
              })
          }
      });
      //弹出层结束


      //添加信息开始
      $('#create').click(function (){
        console.log("用户点击了添加按钮");
        layer.open({
          type: 2,
          area: ['60%','80%'],
          resize: true,
          shadeClose: true,
          title: '新增',
          content: '/markers/form?id=0',
        });
      });
      //添加信息结束

    });//lay.use结束

</script>

</body>
</html>